* {
  background: #f3f5fc;
  font-family: "Inter";
}
body {
  width: 1440px;
  height: 1024px;
}

.logo {
  margin-top: 40px;
  margin-left: 40px;
}
main{
  display: flex;
 }

.textArea{
color: #0A3871;
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 150%;
}
::placeholder{
  color: #0A3871;
}


